<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!-- Put your event hub name and connection string below -->
    <add key="SubscriptionId" value=""/>
    <add key="CertificateThumbprint" value=""/>
    <add key="ServiceBusNamespace" value=""/>
    <add key="EventHubName" value=""/>
    
    <!--
      Event Hub Metrics (this list subject to change)
      size (bytes)
      incoming (Messages)
      requests.total (Requests)
      requests.successful (Requests)
      requests.failed (Requests)
      requests.failed.internalservererror (Requests)
      requests.failed.serverbusy (Requests)
      requests.failed.other (Requests)
      outgoing (Messages)
      incoming.throughput (bytes)
      outgoing.throughput (bytes)
      
      Enter as many as you want pipe (|) delimited
    -->
    <add key="MetricsToWatch" value="incoming|requests.total|requests.successful|requests.failed|incoming.throughput"/>

    <!--
        Potential Rollup Periods:
        PT5M - 5-minute rollup
        PT1H - 1-hour rollup
        P1D -  1-day rollup
        P7D -  1-week (7 days) rollup
    -->
    <add key="RollupPeriod" value="PT5M"/>
    
    <!-- Go back this far to look for the last value, this is related to the rollup period -->
    <add key="HowFarToLookBackInMinutes" value="15"/>
  </appSettings>
</configuration>